#name{
	font-size: 32;
}

.header{
	font-size: 26;
}

.subheader{
	font-size: 24;
}

.title{
	font-size: 20;
}

.date{
	font-size: 20;
	float: right;
}

.description{
	font-size: 18;
}

.skills{
	font-size: 18;
}